%h1 Table #{@game_table.id}
- @game_table.hands.order(:id).each_with_index do |hand, i|
  %h2 Hand ##{i+1}
  - hand.rounds.each do |round|
    %h3=round.betting_phase.titleize
    - round.actions.order(:id).each do |action|
      - if action.is_fold?
        %p #{action.player.name} folded.
      - elsif action.is_blind?
        %p #{action.player.name} posted blinds of #{action.amount}
      - else
        %p #{action.player.name} bet #{action.amount}
