- class_for_player = {}; @game_table.tournament.players.each_with_index do |p, i| class_for_player[p.id] = "color_#{i % 9}" end
#header
  %h1 Table #{@game_table.id}
#content
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      - @game_table.hands.order(:id).each_with_index do |hand, i|
        %li
          %a{:"data-toggle" => "tab", :href => "#l#{i+1}"} Hand #{i+1}
    .tab-content
      - @game_table.hands.order(:id).each_with_index do |hand, i|
        .tab-pane{:id => "l#{i+1}"}
          %h2 Hand ##{i+1}
          - HandStartStat.where(:hand_id => hand.id).each do |stat|
            .well.playerbox 
              %div
                %div.name.label{:class => class_for_player[stat.player.id]}= stat.player.name.chomp
                %div
                  #{stat.chips} chips
          %div{:style=>"clear:both;height:15px;"}
          - hand.rounds.each do |round|
            .well
              %h3
                = round.betting_phase.titleize
                - if round.betting_phase.to_s != "pre_flop"
                  %span.dealt #{hand.cards.where(:label => round.betting_phase.to_s).collect { |c| build_card(c.value_code.to_s, c.suit_code.to_s) }.join(" ")}
              - round.actions.order(:id).each do |action|
                .play
                  %span.name.label{:class => class_for_player[action.player.id]}= action.player.name.chomp
                  = action.player.cards.where(:hand_id => hand.id).collect { |c| build_card(c.value_code.to_s, c.suit_code.to_s) }.join("")
                  - if action.is_fold?
                    folded.
                  - elsif action.is_blind?
                    posted blinds of #{action.amount}.
                  - elsif action.is_win?
                    won #{action.amount} with <strong>#{hand.full_player_hand(action.player).rank}</strong>!
                  - elsif action.is_unseat?
                    was unseated from the table.
                  - else
                    - if action.amount == 0
                      checked.
                    - else
                      bet #{action.amount}.
              %h6.pot
                Pot for this round: #{round.pot}
